/* Stylesheet for Wade's Blog */
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial","LiHei Pro","新細明體","微軟正黑體", sans-serif;
    background-color: #121212; /* Dark background for dark mode */
    color: white; /* Light text */
    -webkit-user-select: none; /* Disable text selection on webkit browsers */
    -moz-user-select: none; /* Disable text selection on Firefox */
    -ms-user-select: none; /* Disable text selection on IE */
    user-select: none; /* Standard way to disable text selection */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    background-color: #1a1a1a; /* Slightly lighter shade for the header */
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    padding: 0 1em;
    cursor: pointer;
}

nav li {
    position: relative;
}

nav li:hover > .dropdown {
    display: block;
}  
  
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #1a1a1a; /* 設置背景顏色為黑色 */
    color: white; /* 設置文字顏色為白色，以提高可讀性 */
}

.dropdown a {
    color: white; /* 確保下拉選單中的鏈接也是白色的 */
}

nav li:hover > .dropdown {
display: block;
}

.dropdown li {
min-width: 120px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar {
    display: none;
    padding: 5px;
    font-size: 16px;
}

.search-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 這將創建三個等寬的列 */
    grid-gap: 20px; /* 格子之間的間隙 */
    padding: 20px; /* 容器邊緣與格子之間的距離 */
    max-width: 1200px; /* 最大寬度，可根據需求調整 */
    margin: 0 auto; /* 左右邊界自動，以使容器水平居中 */
  }
  
  .grid-item {
    /* Flexbox 的 width 和 margin-bottom 可以保留或根據需要調整 */
    margin-bottom: 15px; /* 格子間距 */
    text-decoration: none; /* 移除超連結下劃線 */
    color: rgb(255, 255, 255); /* 文字顏色 */
    box-shadow: none; /* 初始無陰影 */
    transition: box-shadow 0.3s; /* 平滑過渡效果 */
  }
  

.grid-item img {
    width: 100%; /* 圖片填滿格子寬度 */
    height: auto;
}

.grid-item .date {
    font-size: 0.8em; /* 調整日期文字大小 */
}

.grid-item h3 {
    font-size: 1em; /* 調整標題文字大小 */
}

.grid-item:hover {
    box-shadow: 0px 5px 15px rgba(227, 227, 227, 0.3); /* 懸停時陰影效果 */
}

article {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 300px;
  }

article p {
    font-size: 30px;      /* 設置字體大小為12號 */
    line-height: 1.5;     /* 設置1.5倍行高 */
    letter-spacing: 1px;  /* 字距加寬1點 */
    margin-top: 0.75em;   /* 設置段落上方間隔，相當於0.5倍行高 */
    margin-bottom: 0.75em;/* 設置段落下方間隔，相當於0.5倍行高 */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #1a1a1a;
    padding: 20px 0;
    font-size: 0.8em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    text-align: center; /* 或者根據需要調整對齊方式 */
    padding: 10px 0; /* 添加一些上下間距 */
}

footer .social-icons a {
    margin: 0 10px; /* 水平間距，根據需要調整 */
    display: inline-block; /* 確保圖示橫向排列 */
}

footer .social-icons img {
    width: 30px; /* 或者根據需要調整大小 */
    height: auto; /* 保持圖片比例 */
}


/* Responsive design adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        padding: 0.5em 0;
    }

    .search-box {
        right: 10%;
    }
}
