/* Stylesheet for Wade's Blog */
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial","LiHei Pro","新細明體","微軟正黑體", sans-serif;
    background-color: #121212; /* Dark background for dark mode */
    color: white; /* Light text */
    -webkit-user-select: none; /* Disable text selection on webkit browsers */
    -moz-user-select: none; /* Disable text selection on Firefox */
    -ms-user-select: none; /* Disable text selection on IE */
    user-select: none; /* Standard way to disable text selection */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    background-color: #FFEEC3;
}

.logo {
    width: 154.2px;
    height: 26.8px;
}


  /* Style for navigation bar */
#navbar {
    background-color: #FFEEC3;
    overflow: hidden;
    cursor: pointer;
}
  
  /* Style for navigation items */
.nav-item {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.93px;
}

  /* Style for dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFEEC3;
    min-width: 160px;
    z-index: 1;
}
  
  /* Style for dropdown content items */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #fee49d;
    color: black;
}
  
  /* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Change the background color of the navigation item on hover */
.nav-item:hover {
    background-color: #fee49d;
}

nav a {
    text-decoration: none; /* Removes underline from all links */
    color: black; /* Sets the default link color */
  }

/* Link color */
nav a:link {
    color: black; /* or any color you want */
  }
  
  /* Visited link color */
nav a:visited {
    color: black; /* or any color you want */
}
  
  /* Hover over link */
nav a:hover {
    color: black; /* or any color you want */
}
  
  /* Selected link */
nav a:active {
    color: black; /* or any color you want */
}

/* 菜單圖標樣式 */
.menu-icon {
    display: none; /* 預設隱藏，只在小屏幕上顯示 */
    cursor: pointer;
    font-size: 30px; /* 設置大小 */
    color: black; /* 設置顏色為黑色 */
}

/* 隱藏導航欄 */
@media (max-width: 768px) {
    #navbar {
        display: none;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
  
  
  /* Responsive layout - makes the navigation links stack on top of each other instead of next to each other on small screens */
@media screen and (max-width: 600px) {
    .nav-item, .dropdown-content a {
      float: none;
      display: block;
      text-align: left;
    }
}

.hidden {
    display: none;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

#search-bar {
    display: none;
    padding: 5px;
    font-size: 16px;
    /* Additional styles for search bar */
}

.search-icon, .close-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}






.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 320px); /* 創建三個固定為320px寬的列 */
    grid-gap: 20px; /* 格子之間的間隙 */
    justify-content: center; /* 當容器寬度大於所有格子的總寬度時，使它們居中 */
    padding: 20px; /* 容器的內邊距 */
    margin: 0 auto; /* 上下邊界為0，左右自動，以使容器水平居中 */
    
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(1, minmax(320px, 1fr));
    }
}
  
.grid-item {
    margin-bottom: 15px; /* 格子間距 */
    text-decoration: none; /* 移除超連結下劃線 */
    color: rgb(255, 255, 255); /* 文字顏色 */
    box-shadow: none; /* 初始無陰影 */
    transition: box-shadow 0.3s; /* 平滑過渡效果 */
    height: 280px; /* 設定格子高度為320px */
    position: relative; /* 用於內部元素定位 */
    background-color: #242121; /* 背景顏色 */
}
  
  

.grid-item img {
    width: 100%; /* 圖片填滿格子寬度 */
    height: 180px; /* 16:9 的高度比例 */
    object-fit: cover; /* 保持圖片的比例 */
    object-position: center; /* 圖片居中顯示 */
}

.grid-item .date {
    font-size: 0.8em; /* 調整日期文字大小 */
    padding: 0 0.5em; /* 調整日期文字與圖片間距 */
}

.grid-item h3 {
    font-size: 1em; /* 調整標題文字大小 */
    padding: 0 0.5em;
}

.grid-item:hover {
    box-shadow: 0px 5px 15px rgba(227, 227, 227, 0.3); /* 懸停時陰影效果 */
}

article {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* 對於小於或等於600px寬的屏幕，減少內邊距和最大寬度 */
@media only screen and (max-width: 600px) {
    article {
      padding: 10px;
      max-width: 100%;
    }
}
  
  /* 對於小於或等於768px寬的屏幕，適當調整最大寬度 */
@media only screen and (max-width: 768px) {
    article {
        max-width: 90%; /* 或者某個固定值，比如600px */
    }
}

article p {
    font-size: 16px; /* 或 1em */
    letter-spacing: 0.93px; /* 或 0.058em */
    text-align: justify; /* 左右對齊 */
    line-height: 30.67px; /* 或 1.92em */
    margin-top: 1px; /* 與前段無距離 */
    margin-bottom: 1px; /* 與後段無距離 */
}

article blockquote {
    font-family: "Times New Roman", "標楷體", sans-serif;
    font-size: 20px; /* 或 1em */
    letter-spacing: 0.93px; /* 或 0.058em */
    text-align: justify; /* 左右對齊 */
    line-height: 30.67px; /* 或 1.92em */
}

article ul {
    font-size: 16px; /* 或 1em */
    letter-spacing: 0.93px; /* 或 0.058em */
    text-align: justify; /* 左右對齊 */
    line-height: 30.67px; /* 或 1.92em */
}

article ol {
    font-size: 16px; /* 或 1em */
    letter-spacing: 0.93px; /* 或 0.058em */
    text-align: justify; /* 左右對齊 */
    line-height: 30.67px; /* 或 1.92em */
}

article h1 {
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight:bold;
}

@media only screen and (max-width: 768px) {
    article h1 {
        text-align: left;
    }
}

article h2 {
    font-size: 1.5em;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight:bold;
}

article h3 {
    font-size: 1.2em;
    letter-spacing: 1.2px;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight:bold;
}

article a {
    color: #FFEEC3;
    text-decoration: none;
}

article .date {
    font-size: 0.8em;
    text-align: right;
    margin-bottom: 1em;
    
}

article figcaption {
    font-size: 0.8em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 0.93px;
}

article img {
    width: 600px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
  


footer {
    text-align: center;
    padding: 1em 0;
    background-color: #1a1a1a;
    padding: 20px 0;
    font-size: 0.8em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    text-align: center; /* 或者根據需要調整對齊方式 */
    padding: 10px 0; /* 添加一些上下間距 */
}

footer .social-icons a {
    margin: 0 10px; /* 水平間距，根據需要調整 */
    display: inline-block; /* 確保圖示橫向排列 */
}

footer .social-icons img {
    width: 30px; /* 或者根據需要調整大小 */
    height: auto; /* 保持圖片比例 */
}


/* Responsive design adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        padding: 0.5em 0;
    }

    .search-box {
        right: 10%;
    }
}
@media (max-width: 1200px) { /* 如果屏幕寬度小於1200px */
    article {
      width: 100%; /* 寬度設為100% */
      margin-left: auto; /* 左邊距設為自動，保持居中對齊 */
      margin-right: auto;
    }
  }
  
