<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>福壽螺</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            福壽螺
        </h1>
        <p class="date">2019-07-14</p><br>
        <p>
            福壽螺來到臺灣，跟好吃不好吃、沒有天敵等等其實關聯性不大。福壽螺之所以來到台灣，當初的美濃婦人並不是想引進來吃，而是想使其成為一種「種苗」。<br><br>
            一顆卵，也就是一條卵塊中最小的單位，$300。<br><br>
            一條卵塊約莫200顆卵，也就是$60000。<br><br>
            當初有許多人開著賓士，提著水桶，來盛這紅色一條條的東西，可能一個臉盆、水桶裝的，就是數十萬。<br><br>
            但顯然，繁殖這麼快，實際上也不能幹嘛(據說不好吃？)，價格一夕崩盤，全台各地同時大量放生。這才是之所以全台都有福壽螺的原因。<br><br>
            至於沒有天敵，那是剛引進臺灣的時候。現在也是會有鳥類開始食用福壽螺。<br><br>
            大家有沒有想過，福壽螺的原產地阿根廷為什麼不將福壽螺視為害蟲？<br><br>
            因為阿根廷採乾式植播，福壽螺在沒有水的地方移動範圍有限，而在水中他可以靠著水分子間的振動來得知四周狀況。<br><br>
            臺灣的濕式插秧，顯然給了福壽螺無窮無盡的生長環境。既有水，又有無限量供應的嫩秧苗，因此大量繁殖滋生。<br><br>
            不知道大家有沒有想過日本怎麼解決福壽螺問題的？<br><br>
            日本九州自從有人開始模仿阿根廷用播種而非插秧，等秧苗較成熟時在放水的模式，福壽螺還在，但變成益蟲。福壽螺不吃長大的稻，因此改吃雜草，變相來說成為除草的工具。<br><br>
            而台灣也產生了一新興產業。既然福壽螺是夜行性動物，於是有人開始在夜間補福壽螺及其卵。卵可以拿來當魚餌賣給釣具行，據說他有好幾棟房子。<br><br>
            換句話說，福壽螺已經漸漸跟臺灣這個環境有所互動。那，我們除了一味進行無效的撲殺外，是不是還有其他可能？<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
