<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>制服雙體論——制服日的反思</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            制服雙體論——制服日的反思
        </h1>
        <p class="date">2019-07-19</p><br>
        <p>
            這標題當然是從「國王雙體論」借來的，有空的話我會盡義務寫給那些沒有聽到人社營課程的人。然後，如果還有時間，我想寫一下在男校的女性物性化的過程。<br><br>
            首先，我必須要向正心的大眾道歉，因為我根本不知道有個非官方活動叫「制服日」，壓根沒帶制服，而我又是正心中學唯一代表。我當天是穿校慶55週年那件，對，就是你們口中說拿去當抹布那件。也多虧這件，我做到一件我穿制服沒辦法做的事——我向大家解釋JHS的真正意涵。<br><br>
            正心的各位不要笑，在場的可是聽得很認真。<br><br>
            好，話說國王有兩個身體，一個自然身體，會死亡；一個永垂不朽的身體，會隨著政權綿延不絕。<br><br>
            制服也是。制服，代表著一個人，對一間學校的想像。<br><br>
            人很矛盾，總是說如果可以不穿制服就不要穿，雄中也爭取到可以不穿校服到校的權益。然而，當面對一群尚未熟悉的一群人，學校，似乎就成了認識一個人極佳的途徑。穿制服，似乎成了一種理所當然，成了一種驕傲。<br><br>
            話說制服日當天，許多人做了一件我一生無法想像的事：他們交換制服來換穿。<br><br>
            （心裡OS：為什麼有人會自願穿那身沒有很好穿的制服…）<br><br>
            那大家最勇躍穿哪間學校？第一名是北一女，再來是雄女，最後是…「私」立育達「高中」。<br><br>
            為什麼？因為制服象徵了一間學校的社會期待。不然你想想，自願穿育達制服的感覺是什麼？一堆人搶著穿北一女制服的目的是什麼？又為什麼，雄中褲好穿，但還是會帶著制服來到這裡？又為什麼，各個女中的制服看起來幾乎一樣，那個feeling會有所不同？<br><br>
            不免俗的，先回到我朋友在政大聽到的一段對話開始：<br><br>
            雄中：「今年雄中只有30」<br><br>
            中一中：「huh？30而已喔」<br><br>
            雄中：「對啊，很低」<br><br>
            我朋友OS：「X我都不敢說正心今年只有21」<br><br>
            如果是我的話可能會再加一句，但我不想說。你會發現，雖然提到會考成績，但其實沒有人會在乎會考成績，因為看不出來。大家只會看著你的學校，來評估你說話的份量。阿涼所謂的「全國21所明星高中」講的話是不是聽起來比較有份量？<br><br>
            是，不然你叫那個嗆何老師的那位說話前不加「政大附中」，看臺下會用什麼眼神看他。<br><br>
            也當然，進到所謂21所明星高中，跟許多來自各地的高手切磋，自然條理更清晰，講話更有份量，又循環證實了明星高中學生講話的說服力。<br><br>
            回到主體，所謂制服雙體論，制服不死。之所以大家搶著穿明星高中制服，或者是育達，不也是我們在想像，如果我們身處另一個身體，另一個社會期待，我會怎麼看待我自己？而他者又會怎麼看待身穿另一社會期待的我自己？<br><br>
            上面提到學校的重要性高過會考成績太多太多，這句話是有憑有據的。到現在為止沒有任何人問我會考成績多少，講白一點，出了我藹藹雲林，誰知我巍巍正心？（斗高是很多人知道啦）<br><br>
            又或者知道正心，聽到21可以上正心，會有人在乎你是幾分上正心的嗎？<br><br>
            那正心可以做什麼，且聽下回分解。<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
