<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>【政治哲學】葉浩老師的「自由的三種概念」</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            【政治哲學】葉浩老師的「自由的三種概念」
        </h1>
        <p class="date">2019-07-27</p><br>
        <p>
            呃......不過要在短篇幅內整理積極自由、消極自由與漢娜鄂蘭的《人的條件》有點困難。所以在這邊簡單提一下「內在移民」與臺灣的「政治」。<br><br>
            在Q&A的時候，有學員問轉型正義該學德國好還是南非好，葉浩老師的答案是兩個都不好，下面文章有詳細解釋。倒是文章沒提到老師在課堂中強調的內在移民，在這裡簡單提一下。<br><br>
            在之前國民政府的維權體制下，有個概念叫「政治即管理眾人之事」。我們都知道政治分為四部分：政治思想、比較政治、公共行政、國際關係（外交），據老師的說法，當時出國留學沒有錢，為了要拿中山獎學金，以至於許多政治系的教授都是走美國那條跑統計、教政治科學之類，尤其是台大(所以跑社運的幾乎都是法律系跟社會學系)。政治系多半不碰政治哲學這塊。<br><br>
            至於大部分民眾，則進行所謂「內在移民」，也就是不碰「外面的」事情，管好自己就好。威權體制下，政府也多希望你內在移民，不要碰政治。<br><br>
            然而，臺灣身為民主跳級生，花20年把別人200年的過程走完（臺灣好像很擅長，不管是經濟、政治、社會還是教育），臺灣脫離威權政府，但仍舊在內在移民。話說當時Q&A有人問一個問題，探討威權國家怎麼形成，有一說是人失去了信仰的依靠，那當追隨上帝不成主流後，要追隨什麼？那進入民主化的臺灣我們又在追隨什麼？<br><br>
            <a href="https://www.twreporter.org/a/opinion-transitional-justice-yeh-hao?fbclid=IwAR07MD0BYCyY-VchVAwGtO8TvaHI_5MytW2G1GM0c5oBESIX0cLQS1jlP8g" target="_blank">葉浩／轉型正義的艱難──重新理解「和解」與「妥協」的意義</a>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
