<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>影評？心得？</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    
          

        <article>
            <h1>
                影評？心得？
            </h1>
            <p class="date">2019-09-06</p><br>
            <p>
                重看一次我寫的東西（<a href="https://wadeowatts.github.io/study/films/2019/2019-09-06-your-name.html" target="_blank">從《夢灯籠》談《你的名字》中鏡頭與音樂的運用</a>），如果沒有畫面輔助可能真的看不懂我在寫什麼XD<br><br>
                所以這是什麼？<br><br>
                之前校刊社要我寫普遍級的東西（沒有政治、沒有敏感議題……）所以我就想說，《你的名字》是普遍級的，那我就來寫一篇《從「夢灯籠」談「你的名字」中鏡頭與音樂的運用》。撰寫的過程大概就是拿著搖控器，倒轉、快轉、暫停……然後開始亂寫。我幾乎沒參考任何資料（我買不起美術設定集），就純粹依個人解讀。<br><br>
                剛重看一次我寫的文，我就在想，那我這篇文是屬於「影評」還是「心得」？<br><br>
                一般來說我們之所以認為「影評」比「心得」更有價值，是因為雖然其仍屬主觀解讀，但他會旁徵博引，或者有邏輯地證明自己何以有如此解讀。最典型的例子當然就是文史哲的一些文本分析沒有問題。<br><br>
                然而現在我們接觸到許多自稱「影評」的影片、文章，有多少可稱得上「影評」而非只是「心得」？尤其是所謂「『無雷』影評」？<br><br>
                例如許多人愛講的「畫面流暢」、「剪接凌亂」、「即使導演試圖讓我們感到主角的起伏但其實效果有限」、「即便沒有強而有力的劇本支持此片依舊令人感到……」這些東西都是主觀論述。或許他們這些論述背後可能有強大的理論支稱，但或限於篇幅，使得這些論述沒有被表達出來，以致於我們所接觸到的影評多流於心得。<br><br>
                所以所謂「影評」對一般大眾而言，有其必要？還是他們只想看「心得」？<br><br>
                其實一直以來，從那個大家看影評要透過報紙的年代，大家將影評視為權威的年代，影評人本來就沒什麼特別的，他們的工作，只是傳遞口碑，而已。<br><br>
                但我並沒有貶低「影評人所寫的心得」，像我有事沒事也寫些心得，這沒什麼不好。我覺得這部電影好看，我想推廣；我覺得這片爛，我想訐譙，沒什麼不對。只是他們的影響力較廣，比較多人看得到他們的心得而已。<br><br>
            </p><br><br>
        </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
