<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>晚明女性文學</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            晚明女性文學
        </h1>
        <p class="date">2019-07-27</p><br>
        <p>
            剛複習的時候讀到《項脊軒志》。在此作及先妣事略中，可以看到歸有光與祖母、母親、老嫗與數任妻子間的互動。<br><br>
            好，這跟接下來的完全沒有關係XD，我只是要補充人社營中中研院文哲所所長胡曉真老師講的東西。<br><br>
            明清時代，尤其是晚明，女性在文學的地位是什麼？<br><br>
            國文課本在談到女作家只會講近代（胡老師：光這點就是很大的進步），古代女作家頂多講個李清照（但不見得會提中國史上的第一個離婚官司）。我們似乎對古代的女性文學有點陌生。但根據胡老師的說法，明清時代，考據出來有名有姓的女作家至少有幾千名。主要原因是江南經濟富庶，女性受教育人數變多，甚至有愈來愈多的有錢人家的女性參與文學創作、編選甚至出版。<br><br>
            什麼意思？在文壇，握有編選權，表示你有一定地位，才有「權」去批評其他文人的作品。而出版就不用說，這個一定要夠有錢才行，也象徵經濟自主，甚至參與商業活動。<br><br>
            那最普遍的創作形式莫過於「彈詞小說」，最出名的應該屬陳端生的《再生緣》、邱心如的《筆生化》和李桂玉的《榴花夢》。<br><br>
            且說女性文人的創作，不乏所謂「自述」。例如<br><br>
            在「框架故事」（也就是彈詞的暖場）這塊，女作家往往會夾雜部分敘事是在寫自己的故事。《筆生花》中也隨處可見日常生活景況。<br><br>
            至於那長達360卷的《榴花夢》，觸及了傳統文學不敢觸及的題材。呃......就是兩個女同性戀假扮成兩個男人然後...之類的，後來他們嫁給同一個男人，然後一個成仙另一個自殺（等等我邏輯對嗎，這段我聽得有點亂）<br><br>
            總之，只看國文課本會讓我們以為女性文學是近代產物，其實不是。至於為什麼這段歷史會如此不為所知，有一說是自從西方文學概念引進後，文學的門變窄了（他們連巴布狄倫能不能拿諾貝爾都可以吵成這樣），彈詞小說能不能被列入文學這點，是其中一個讓這段歷史消失的原因。<br><br>
            Q&A時有人問關於國文課本的問題，老師說重點不在你從課本學到了什麼，而是你找到了什麼。他說他小時後很喜歡看《紅樓夢》，然後上高中後傻眼，怎麼課本選了劉姥姥進大觀園？當然他不否認選文不是件易事，然而，若我們的視野只侷限在課本中，那我們的世界，就只停留在那裡。<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
