<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>每個人都有一個關於恰恰的故事</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            每個人都有一個關於恰恰的故事
        </h1>
        <p class="date">2019-09-29</p><br>
        <p>
            曾經，一個夜晚，那時候我還在念國小，應該是小四升小五的時候吧...<br><br>
            那是一個在龍潭棒球場度過的暑假，我在空軍基地旁體驗所謂的棒球營。記得有個夜晚，不知道在想什麼，就把身上幾乎所有的金額，都砸在這本彭政閔紀念郵冊上。<br><br>
            還記得那個夜晚，是在龍潭看台的正下方，靠近球場那側是通鋪，另一邊是上下鋪，我睡在通鋪那邊。我就一時新血來潮到本壘後方的營本部買了恰恰這本，回到寢室端詳。<br><br>
            一時之間，全基3甚至全寢室的人都圍過來，想一睹恰恰的丰采，研究、品味恰恰的每一張圖。<br><br>
            還記得那次營隊，打擊王可獲得恰恰簽名球一顆，我打擊率第二名。（好啦至少有一條美津濃的白色毛巾，現在還在用）<br><br>
            現在，那梯的所有人，我都沒有在聯絡了。往事忘得差不多了，我只記得，原來一個人的影響力可以召集大家的集體意識，是恰恰，讓我們這群絲毫不相識的朋友，聚集在一起。<br><br>
            恰恰就這樣離開了。23號也從此在兄弟象隊退休，成為繼教官之後，兄弟象隊史第二個退休背號。<br><br>
            後記：當初基3的各位，應該沒有人料想得到，我們參加的，是兄弟象隊，最後一次棒球夏令營。<br><br>
            我們曾經同在，同在那張通鋪上，述說著一個個關於恰恰的故事。<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
