<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>異域3：臺茶南向</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            異域3：臺茶南向
        </h1>
        <p class="date">2019-07-11</p><br>
        <p>
            所以...泰緬孤軍後來呢？<br><br>
            話說一群武裝軍人流浪到泰國，泰國政府會怎麼想？嗯，幫忙打共產黨😂，後來的大家可能有聽說，像給那些幫忙剿共的人土地、身份證讓他們放下槍桿，給泰國政府心安。<br><br>
            然後呢？國民政府試著透過茶葉與他們取得聯繫。<br><br>
            「種茶」這件事對泰國政府有什麼好處？種茶要整地闢田，於是將森林改成梯田，再加上清查土地，泰國政府終於有效地控制泰北邊境，減少共產黨游擊隊在森林的躲藏。茶葉種植、買賣可收稅、水電費，為貿易開闢道路，交通發達，政府管控容易，並使少數民族放棄種罌粟協助漢人種茶。當然，這些茶一開始是賣到臺灣，後來被越南茶取代後，開始將市場擴大到國際。<br><br>
            那越南茶是怎麼回事？據教授的說法，李登輝的第一波南向政策時，有許多臺灣人到越南中部種臺灣茶。後來越南茶漸漸成為臺灣的進口茶葉來源。<br><br>
            越南的臺灣茶是臺灣茶嗎？<br><br>
            先不論落葉劑問題（教授宣稱沒有落葉劑，但他沒有給資料），但就一個新聞「越南茶混台灣茶」獲得比賽第一名引起公憤，臺灣人對越南茶為何如此排斥？<br><br>
            臺灣茶已經變成國家認同焦慮的延伸了。<br><br>
            但是如果沒有這些越南來的臺灣茶，臺灣很難發展茶產業。別說外銷推廣珍珠奶茶，可能連臺灣自己的早餐店奶茶、手搖杯的供應都有困難。<br><br>
            為什麼凡事皆要以二元對立的形式去看待？<br><br>
            最後以兩句話總結：<br>
        </p>
        <blockquote>
            Do not take things for granted.<br>
            Be sensitive to "different".<br>
        </blockquote><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
