<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>觀點</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css">
<script src="../javascript/script.js"></script>
</head>
<body>
    <header>
      <a href="../index.html">
        <img src="../figures/colored_logo_1.png" alt="My Logo" class="logo">
      </a>
      <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../study/books/books.html">紙本書籍</a>
                <a href="../study/films/films.html">影像動畫</a>
                <a href="../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../school_life/high/high.html">中學</a>
                <a href="../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <div class="grid-container">
      <a href="2024/2024-02-26-tsm-openmic.html" class="grid-item">
        <img src="../figures/2024-02-26.jpg">
        <p class="date">2024-02-26</p>
        <h3>一個喜劇外行人看台語open mic</h3>
      </a>
      <a href="2020/2020-02-28-creativity.html" class="grid-item">
        <img src="../figures/2020-02-28.jpg">
        <p class="date">2020-02-28</p>
        <h3>聊聊所謂創作</h3>
      </a>
      
    </div>

    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
