<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>觀點</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css">
<script src="../javascript/script.js"></script>
</head>
<body>
    <header>
      <a href="../index.html">
        <img src="../figures/colored_logo_1.png" alt="My Logo" class="logo">
      </a>
      <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../study/books/books.html">紙本書籍</a>
                <a href="../study/films/films.html">影像動畫</a>
                <a href="../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../school_life/high/high.html">中學</a>
                <a href="../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <div class="grid-container">
      <a href="2024/2024-02-26-tsm-openmic.html" class="grid-item">
        <img src="../figures/2024-02-26.jpg">
        <p class="date">2024-02-26</p>
        <h3>一個喜劇外行人看台語open mic</h3>
      </a>
      <a href="2024/2024-01-01.html" class="grid-item">
        <img src="../figures/2024-01-01.jpg">
        <p class="date">2024-01-01</p>
        <h3>第74回NHK紅白歌合戦</h3>
      </a>
      <a href="2023/2023-10-07.html" class="grid-item">
        <img src="../figures/2023-10-07.jpg">
        <p class="date">2023-10-07</p>
        <h3>語言復興</h3>
      </a>
      <a href="2023/2023-08-31.html" class="grid-item">
        <img src="../figures/2023-08-31.jpeg">
        <p class="date">2023-08-31</p>
        <h3>內湖交通</h3>
      </a>
      <a href="2023/2023-07-01.html" class="grid-item">
        <img src="../figures/2023-07-01.jpg">
        <p class="date">2023-07-01</p>
        <h3>交通新制</h3>
      </a>
      <a href="2023/2023-05-09.html" class="grid-item">
        <img src="../figures/2023-05-09-intersection-01.jpg">
        <p class="date">2023-05-09</p>
        <h3>台南市北區忠義路、成功路口</h3>
      </a>
      <a href="2023/2023-01-12.html" class="grid-item">
        <img src="../figures/2023-01-12-joseph.jpg">
        <p class="date">2023-01-12</p>
        <h3>言辭難以言表</h3>
      </a>
      <a href="2022/2022-10-16.html" class="grid-item">
        <img src="../figures/2022-10-16-1.jpg">
        <p class="date">2022-10-16</p>
        <h3>清大宿舍前的交通</h3>
      </a>
      <a href="2022/2022-08-27.html" class="grid-item">
        <img style="object-position: 0 60%;" src="../figures/2022-08-27.jpg">
        <p class="date">2022-08-27</p>
        <h3>騎樓勿停車？</h3>
      </a>
      <a href="2022/2022-08-01.html" class="grid-item">
        <img src="../figures/2022-08-01.jpg">
        <p class="date">2022-08-01</p>
        <h3>車道分割</h3>
      </a>
      <a href="2022/2022-07-09.html" class="grid-item">
        <img src="../figures/2022-07-09.jpg">
        <p class="date">2022-07-09</p>
        <h3>交通解嚴遊行</h3>
      </a>
      <a href="2022/2022-04-26.html" class="grid-item">
        <img src="../figures/2022-04-26.png">
        <p class="date">2022-04-26</p>
        <h3>意譯</h3>
      </a>
      <a href="2022/2022-01-04.html" class="grid-item">
        <img src="../figures/2022-01-04.jpg">
        <p class="date">2022-01-04</p>
        <h3>第73回NHK紅白歌合戦</h3>
      </a>
      <a href="2021/2021-12-08.html" class="grid-item">
        <img src="../figures/2021-12-08.jpeg">
        <p class="date">2021-12-08</p>
        <h3>臺灣百年社會運動</h3>
      </a>
      <a href="2021/2021-07-17.html" class="grid-item">
        <img src="../figures/2021-07-17.jpg">
        <p class="date">2021-07-17</p>
        <h3>聽起來很像日文的英文歌</h3>
      </a>
      <a href="2021/2021-01-31.html" class="grid-item">
        <img style="object-position: top;" src="../figures/2021-01-31.jpeg">
        <p class="date">2021-01-31</p>
        <h3>110大學入學美術術科美術鑑賞考科</h3>
      </a>
      <a href="2020/2020-02-28-creativity.html" class="grid-item">
        <img src="../figures/2020-02-28.jpg">
        <p class="date">2020-02-28</p>
        <h3>聊聊所謂創作</h3>
      </a>
      <a href="2019/2019-10-28.html" class="grid-item">
        <img src="../figures/2019-10-28.gif">
        <p class="date">2019-10-28</p>
        <h3>個版說</h3>
      </a>
      <a href="2019/2019-09-29.html" class="grid-item">
        <img src="../figures/2019-09-29.jpg">
        <p class="date">2019-09-29</p>
        <h3>每個人都有一個關於恰恰的故事</h3>
      </a>
      <a href="2019/2019-09-06.html" class="grid-item">
        <img src="../figures/2019-09-06-critics.jpeg">
        <p class="date">2019-09-06</p>
        <h3>影評？心得？</h3>
      </a>
      <a href="2019/2019-07-27-literature.html" class="grid-item">
        <img src="../figures/2019-07-27-2.jpeg">
        <p class="date">2019-07-27</p>
        <h3>晚明女性文學</h3>
      </a>
      <a href="2019/2019-07-27-politics.html" class="grid-item">
        <img src="../figures/2019-07-27-1.jpg">
        <p class="date">2019-07-27</p>
        <h3>【政治哲學】葉浩老師的「自由的三種概念」</h3>
      </a>
      <a href="2019/2019-07-19.html" class="grid-item">
        <img src="../figures/2019-07-19-uniform.jpg">
        <p class="date">2019-07-27</p>
        <h3>制服雙體論——制服日的反思</h3>
      </a>
      <a href="2019/2019-07-14.html" class="grid-item">
        <img src="../figures/2019-07-14.jpeg">
        <p class="date">2019-07-14</p>
        <h3>福壽螺</h3>
      </a>
      <a href="2019/2019-07-11-tea.html" class="grid-item">
        <img src="../figures/2019-07-11-tea.jpg">
        <p class="date">2019-07-11</p>
        <h3>異域3：臺茶南向</h3>
      </a>
      <a href="2019/2019-02-28.html" class="grid-item">
        <img src="../figures/2019-02-28.jpg">
        <p class="date">2019-02-28</p>
        <h3>棒球世界排名</h3>
      </a>
      <a href="2018/2018-06-10.html" class="grid-item">
        <img src="../figures/2018-06-10.jpg">
        <p class="date">2018-06-10</p>
        <h3>海闊天空的背後</h3>
      </a>
      <a href="2018/2018-03-18.html" class="grid-item">
        <img src="../figures/2018-03-18.jpg">
        <p class="date">2018-03-18</p>
        <h3>優良中文書展</h3>
      </a>
      <a href="2018/2018-02-24.html" class="grid-item">
        <img src="../figures/2018-02-24.jpg">
        <p class="date">2018-02-24</p>
        <h3>棒球靈魂學</h3>
      </a>
      <a href="2017/2017-09-16.html" class="grid-item">
        <img src="../figures/2017-09-16.png">
        <p class="date">2017-09-16</p>
        <h3>聊聊音樂教育EP2：文言文與白話文比例之爭</h3>
      </a>
      <a href="2017/2017-08-29.html" class="grid-item">
        <img style="object-position: bottom" src="../figures/2017-08-29.jpg">
        <p class="date">2017-08-29</p>
        <h3>I have a dream</h3>
      </a>
      <a href="2017/2017-03-14.html" class="grid-item">
        <img src="../figures/2017-09-16.png">
        <p class="date">2017-03-14</p>
        <h3>聊聊音樂教育EP1</h3>
      </a>
      
    </div>

    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
