<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>內湖交通</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    
          

        <article>
            <h1>
                內湖交通
            </h1>
            <p class="date">2023-08-31</p><br>
            <p>
                內湖交通問題何解？<br><br>
                這兩個月雖然沒進幾次內湖，但每天都搭文湖線，我們大概可以先確定一件事：<br><br>
            </p>
            <blockquote>
                無法用一條文湖線解決所有問題。<br><br>
            </blockquote>
            <p>
                捷運跟台鐵最大的不同是，捷運月台是寫死的，當初設計成中運量系統，寫死成四節比板南線還小的車廂，這點沒有辦法更動，除非整條線重蓋。<br><br>
                有沒有辦法加開班次？尖峰時段目前沒有辦法，大概每分鐘都可以開一班車出來，這大概是極限。板南線每30秒發車的前提是忠孝東路是直的，文湖線不是，而且板南線尖峰時刻也不會開得很順，常常前車拖了一下後車也要跟著等。<br><br>
            </p>
            <h3>
                解方1：高速公路有沒有辦法解決問題？<br><br>
            </h3>
            <p>
                先不論機車能不能上告訴公路，至少可以解決汽車的問題吧？有了汐止高架，國1該路段可說是有5線道。但尖峰時段時速還是在40左右，可見（也是路權團體一直說的）車道數變多大部分時候沒有辦法解決塞車問題。<br><br>
                第二個問題是，這些車輛下了交流道後，還是會塞在內湖路上。內湖背山面河，腹地狹小，跟汐止一樣。如果汐止基隆交通還可以讓3黨吵個10年，應該可以理解內湖交通不是一兩個政見可以解決。<br><br>
            </p>
            <h3>
                解方2：捷運以外的大眾運輸<br><br>
            </h3>
            <p>
                來往南港展覽館與中研院之間時，蠻常搭北環幹線的，北環幹線能不能解決內湖交通問題？或許有可能。北環幹線大概5分鐘可以有一班，但畢竟跟捷運一樣走在內湖路上，其他所有車輛也擠在內湖路上，機車更擠在內湖路的右邊。<br><br>
                公車專用道我目前知道的部分，內湖路應該沒有。所以公車必須不斷地變換車道。變換車道絕對是使車流混亂的主要原因之一，再加上道路右側的機車，使得公車的運輸變得沒有效率。<br><br>
            </p>
            <h3>
                解方3：使內湖有更多元的聯外道路<br><br>
            </h3>
            <p>
                這個解方又稍微再更理想一點，但要考量的點是內湖本身的地勢使得進出不易。<br><br>
            </p>
                <h2>最理想的解方：都市計畫<br><br></h2>
            <p>
                這個應該是最有效但最難達成的一環。本解方不在此篇討論範圍內。但應該可以做做看車流流進與流出內湖的狀況，分析一下。也許很多人其實可以不用進出內湖，但這是另外一個課題了。<br><br>
            </p><br><br>
        </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
