<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>語言復興</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    
          

        <article>
            <h1>
                語言復興
            </h1>
            <p class="date">2023-10-07</p><br>
            <p>
                諾貝爾文學獎得主Jon Olav Fosse的寫作語言是新挪威語。挪威其實存在兩種書面語言，一種是新挪威語，一種是巴克摩挪威語，後者是主流。<br><br>
                挪威先是被丹麥殖民，再被瑞典殖民，然後基本上丹麥語、挪威語、瑞典語是可以互通。當挪威剛獨立的時候，想要把挪威語硬生生從這兩者拉出來，其實有點困難。<br><br>
                新挪威語其實推行了有上百年，但成效不好。（畢竟這是書面語，一般人是說挪威的方言，要學一個新的書面語言對許多人來說沒有吸引力。）<br><br>
                在走語言復興的路上，很多人會引用希伯來文的例子，然後希望不要變成愛爾蘭那樣，但絕大部分的案例，都是會變成愛爾蘭語，其實應該要把希伯來文的復興當作極少數的特例。<br><br>
                拿希伯來語跟愛爾蘭與比較有點怪，希伯來語的口語已經失傳很久了，他是一個書面語言，硬生生口語化。而愛爾蘭語並不是書面語言，而是口語，然後慢慢地消逝。新挪威語其實比較像是希伯來語的case ，然後很失敗。過度人為地語言通常成效不會太好。<br><br>
                語言復興這條路已經不好走了，但更難的是比較少人會去注意到，語言復興會弭平方言差異，對於非主流語族的人來說常常變成變相剝削。<br><br>
                在語言學的觀點上，大部分都對語言這件事呈現不過度push 也不特別pull ，他就是一個自然狀態。<br><br>
                在這種狀況下，很慶幸我們生在AI的時代，也許所謂語言的「保存」就交給他，語言的「復興」就交給上帝，就好了。<br><br>
            </p><br><br>
        </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
