<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>台南市北區忠義路、成功路口</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>
    <style>
        .image-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .image-container img {
            max-width: 45%; /* 设置图片的最大宽度 */
            height: auto; /* 保持图片的纵横比 */
            margin: 0 10px;
        }
    </style>

    
          

        <article>
            <h1>
                台南市北區忠義路、成功路口
            </h1>
            <p class="date">2023-05-09</p><br>
            <figure class="image-container">
                <img src="../../figures/2023-05-09-intersection-01.jpg">
                <img src="../../figures/2023-05-09-intersection-02.jpg">
            </figure><br>
            <figcaption>台南市北區忠義路、成功路口</figcaption>
            <br><br>
            <p>
                這個路口蠻酷的，簡單寫個評析好了。
                先從行人角度開始：
            </p>
            <ol>
                <li>沒有人行道</li>
                <li>行穿線過長。</li>
            </ol><br>
            <p>
                人行道的好處簡單提個幾點：
            </p>
            <ol>
                <li>能讓行人有行走的空間（騎樓也行）</li>
                <li>能修飾路側，能夠讓駕駛右轉更順暢（騎樓做不到）</li>
                <li>能夠規劃出一個空間放置公共設施，如路燈、電箱（騎樓做不到）</li>
                <li>能夠做出避車彎，雖然我不贊成這裡停車，但停公車是必須的，公車彎可以讓公車不打擾其他車輛的行車動線。（騎樓做不到）</li>
                <li>人行道外推能讓轉彎車的視野更加開闊（騎樓做不到）</li>
                <li>有人行道就可以做停車彎，方便汽機車停車，即便停在別人家門口都不會有事，因為人行道的關係你沒有直接擋到他們。</li>
            </ol><br>
            <p>
                我們再來看行穿線：
            </p>
            <ol>
                <li>行穿線過長，然後再抱怨行人走很慢，不如把行穿線做短。</li>
                <li>把行穿線做短要搭配人行道轉角外推，才能縮短</li>
                <li>需設置行人庇護島，使得行人在過馬路的途中有個中繼站，也避免被駕駛擊落。</li>
                <li>若設置庇護島，盡可能注意設置方向，Z字形要設對邊不要像桃園IKEA外面一樣。</li>
            </ol><br>
            <p>
                我們再看到駕駛層面：
            </p>
            <ol>
                <li>沒有左轉車道，機車待轉，汽車更要待轉，而汽車的待轉格就是所謂的左轉偏心車道。</li>
                <li>有了左轉車道，就不用怕開車開一開遇到前面是左轉車，往右岔出去被右邊的直行車擊落。</li>
                <li>車道過寬，基本上3米多正常，到4米以上都太寬了，過寬的外側車道第一個變相鼓勵違規停車，第二個會讓車流動線變得過於複雜，汽機車也會產生無謂的交織。</li>
                <li>轉角違規停車就不多說了。</li>
            </ol><br>
            <p>
                （雖然我對禁行機車、機車優先道與待轉格有意見，但這裡先不提。若真的要說什麼的話就是機車道標線畫的是錯的）
                補充：腳踏車要騎在哪裡我不知道。<br><br>
                我們再拉高到道路規劃的層次：
            </p>
            <ol>
                <li>主幹道與支線不明確。這個路口看不太出來哪個是主線哪個是支線。確實這邊有紅綠燈這個問題上不是很重要，但多少還是希望能多多藉由主支線分明來減少紅綠燈設置數量，畢竟有紅綠燈就容易塞車。</li>
                <li>主幹線與支線分明有個好處，一般來說主幹道旁邊不能停車，支線可以。將支線劃分出來可以增加更多的停車空間。</li>
            </ol><br>
            <p>
                最後就是我覺得其實臺南不需要這麼多線道的路啦，沒有意義。
            </p><br><br>
        </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
