<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>聊聊音樂教育EP1</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            聊聊音樂教育EP1
        </h1>
        <p class="date">2017-03-14</p><br>
        <p>
            上音樂課到底要幹嘛？已經有很多人不想上音樂了，我想周公、孔子愛音樂應該不是沒有原因的，如果學音樂沒辦法達到班長「彈琴像耍帥大絕」這種境界，不如我們退居其次，以欣賞的眼光來欣賞音樂作品。<br><br>
            我知道課本很愛舉一些二、三百年前的老老老音樂家的好棒棒作品，但完完全全引不起同學的興趣。我覺得何不將課程「生活化」？舉個例子：五月天長相並不出眾、阿信也不是說字正腔圓，卻屹立於歌壇十幾年，為什麼？911在班上歌迷很多，反對派也很多，為什麼有人覺得琅琅上口，為什麼有人覺得沒什麼旋律出來？在往下延伸下去，吻別在臺灣賣了136萬張，是衝著張學友而買的，還是歌詞字字句句打進了人人心中，產生共鳴？席琳狄翁的我心永恆，是不是多少靠傑克和蘿絲的愛情故事加分？奧斯卡原創歌曲City Of Stars讓鐘彥綸整天沉溺其中，此曲更令奧斯卡頒獎人稱「劇本為歌曲寫的」。討論這些不是比較能引起共鳴？<br><br>
            其實打開電視，聲音商標比比皆是，透過這種強烈的洗腦，例如英特爾的「登，登登登登」，麥當勞的「登登登 登~登」也就是說一種音樂可以讓我們連結到其公司、產品。有時候，例如星際大戰、侏羅紀公園這些主題曲是不是也讓人有標誌性的連想？<br><br>
            電影、影集的配樂也往往是其成敗的關鍵，而為什麼？如何？神鬼認證的動作場面配樂為何要用節奏樂器？新世紀福爾摩斯中為什麼同一首曲子有時要用管弦樂團有時單純用吉他？<br><br>
            第一步讓大家知道自己在幹嘛，再來就可以繼續深究，也就是像課本那樣。一部作品，一個作曲家的樂風為何如此？受誰影響？為什麼？他當下有什麼體悟？是否與其經歷有關？他選擇這樣的表現方式有何用意……從生活化的，較引起共鳴的慢慢往下延伸，往前追溯。我相信如果可以選擇的話大家應該比較想聽國共內戰而不是山頂洞人遷徙史吧！<br><br>
            現狀是改變不了的，一切就是按課本上，以上純粹抒感。<br><br>
            話說也奇怪，儘管西洋音樂在歷史上有舉足輕重的地位，不代表其他文化的音樂就不需涉獵吧……<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
