<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>聊聊音樂教育EP2：文言文與白話文比例之爭</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            聊聊音樂教育EP2：文言文與白話文比例之爭
        </h1>
        <p class="date">2017-09-16</p><br>
        <p>
            話說這幾個星期高中國文的文言文與白話文比例之爭鬧得沸沸揚揚，我不否認因為國文在現今臺灣社會價值觀中是個很重要而且學測會考的科目，所以關注度比較高。今天我們要來聊聊比較「邊緣」的話題，關於「音樂」的「文白比例」<br><br>
            官大為曾把音樂比喻為一種「語言」。那我們不妨想想，對普通班而言「我們該對這門語言要學習多少、學習什麼部分」其實就跟「我們該上多少文言文」一樣是個可討論的課題。翻開初一上到初三上的藝術與人文課本的音樂篇，我們可以大致上把課程分成以下四類：<br><br>
        </p>
        <ol>
            <li>音樂史（重點）</li>
            <li>音樂概論</li>
            <li>音樂的應用</li>
            <li>在地音樂</li>
        </ol>
        <p>
            音樂史的部分在初二上從巴洛克時期開始講起（直接名正言順跳過朱載堉），然後古典樂派、浪漫樂派、國民樂派、印象樂派……最後終於有一小章在講流行，不過爵士、搖滾、嬉哈都是至少三十年前的，這樣一路空泛地講下來，同學們想當然爾不是睡覺就是玩鬧。至於初三下會講什麼我現在還不知道，至少就這五本課本來說，「文言文」絕對超過七成以上，甚至更多。我完全沒有能力否認古典音樂的價值，只不過如同國文的「楚辭漢賦六朝駢文唐詩宋詞元曲」，這些文體現在較少使用，然後我們再來看看西洋音樂史，巴洛克時期的「數字低音」、「對位法」；古典樂派的「阿貝爾替低音」，現在都很少人在用。在初二上課本的第三章甚至有一節在講「歌劇的基本架構」：序曲、朗誦調、詠嘆調、間奏、重唱、合唱，這些講超詳細的，然而流行音樂的曲式例如verse-chorus連提都沒有提。離我們最近的、最生活化的不講，盡講些離我們遙遠的、空泛的，使學生對音樂教育反感，學習意願低落，這樣不就失去教育的意義了嗎？<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
