<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>I have a dream</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            I have a dream
        </h1>
        <p class="date">2017-08-29</p><br>
        <blockquote>
            I have a dream<br><br>
            that支持世大運的「一日球迷」能夠變成終身球迷，繼續關注臺灣體壇發展。<br><br>
            I have a dream<br><br>
            that各個體協能夠將錢從口袋拿出來，並交給專業，讓設備、場地、師資、選手培育經費嚴重缺乏的臺灣有一絲轉機。<br><br>
            I have a dream<br><br>
            that政府要重視體育教育，並尊重專業。體育教育並不能因為會考、學測不考而不忽視它的重要性（我希望所有家長能了解這點）。<br><br>
            I have a dream<br><br>
            that體育教育能向下扎根，讓體育成為國民的基本素養，讓其成為全民運動<br><br>
            I have a dream<br><br>
            that體育教育不能流於形式，而是要成為一種普遍的休閒活動。<br><br>
            I have a dream<br><br>
            that大巨蛋固然一定要蓋，但場地的建設不是到處蓋一些爛爛的棒球場、田徑場、體育館，而是走進社區，讓運動不再離人民遙遠。<br><br>
            I have a dream<br><br>
            that除了提升偏鄉基層體育設備外，師資與選手培育的環境要改善，要讓新穎的觀念能走入基層，讓師資的素質大幅提升。<br><br>
            I have a dream<br><br>
            that棒球的農場系統要連貫、整合，大學、業餘、職棒二軍的資源有點分散。<br><br>
            I have a dream<br><br>
            that要提升體育人在社會價值觀的地位。臺灣亟需培養一種「尊重專業」的概念。<br><br>
            （我是不奢望啦，反正臺灣的政治人物永遠不會有這種想法）<br><br>
            So, I have a dream<br><br>
            that每次大型賽事時新聞臺八點那些人打嘴砲的現象還有那些人生只剩下嘴砲的本業是酸民的一日球迷要絕跡。<br><br>
        </blockquote><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
