<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>一個喜劇外行人看台語open mic</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    
          

        <article>
            <h1>
                一個喜劇外行人看台語open mic
            </h1>
            <p class="date">2024-02-26</p><br>
            <p>
                2月25日去卡米地看台語的open mic，聽說這是他們的第一次嘗試。以前我沒有看過現場的open mic，出於好奇，揪了幾個人一起去卡米地看台語的open mic。<br><br>

                在分享我的看法之前，有必要說明台語的語言特性。這次上台嘗試open mic的人多數都是不太會講台語的人，且多為華語使用者。台語與華語有幾個比較明顯的差異，比如說聲調，台語有7個，且有連續變調，但這對多數華語使用者來說還算能掌握。對於華語使用者來說比較困難的是入聲字與濁音。華語沒有濁音，舉例來說，台語的「語」是gí，但不諳濁音的人只能發í的音。又，台語7個聲調中有2個入聲字，是華語所沒有的。例如，台北讀作Tâi-pak，不諳入聲的人就會說成Tâi-pà。<br><br>

                這樣說並不嚴苛，但不得不說stand-up做為一種表演，我們不否認塑造笑點的重要元素就是「不和諧」，而台語的發音不和諧確實是很棒的笑點，雖然或許可能不見得是演員們的本意。<br><br>

                當然這只是我的臆測。多數演員認同講台語本身就很好笑，我相信應該是受台灣長期以來在電視表演、歌廳秀等喜劇場合，常以台語為主或穿插著台語，使得會有個既定印象是：只要用台語說就很好笑。<br><br>

                但經過這次表演，我相信很多演員發現，好像不完全是這樣。<br><br>

                秀場文化出身的那些表演之所以好笑，我認為多少跟台語的本質有關。雖然台語沒有f，但台語的音滿多的，清濁有體，再加上聲調多元，又可連續變調，在音律上的發揮空間本就比華語還要來得大，面向來得廣。再者，台語可以透過疊字、透過母音的長短去賦予強烈的節奏性。我想這是台語之所以好笑的其中一個重要面向。<br><br>

                往下延伸就可以談到押韻、對仗等等，是的，當年台灣的藝人就是可以非常順口地，不假思索反應出這些元素。即便不在螢光幕前活躍，呂捷老師也可以輕鬆使用台語講出這些笑話。<br><br>

                但不可否認，這對於母語不是台語的這些台北人來說太困難了，於是這場open mic其實是另一種有趣的實驗：如果把這些元素毫不保留地抽離，那台語的stand-up會是什麼樣子？<br><br>

                當天的笑話，就我印象所及大概有以下的類別，首先是中文的笑話直接翻成台語。<br><br>

                這種笑話吃的是全人類共同經驗，跟語言沒有關係。像有一位行動不方便的演員講了一個笑話，說原本他以為要去林森北的二三表演，爸媽訝異他「這樣子」還要去林森北，他回說因為我是要用嘴來服務大家（講笑話）。像這個會中，是因為這裡的梗就跟語言比較沒有關係。<br><br>

                另一種就是吃表演能力的，比如說大型充氣布偶固定不好一直晃，很像嗑藥，這也是吃觀眾經驗，算是吃安全牌。<br><br>

                其他跟語言比較有關係的案例就很少，我目前只記得一個，就是Lōo-se-a（俄羅斯）諧音「惱死矣」。在開演前我跟幾個朋友賭說等一下一定有很多諧音梗，朋友們也認同，但諧音梗意外地少，最後我只記得這一個。<br><br>

                （還有他們的宣傳圖，用金排球指真歹笑，這個有中。）<br><br>

                反倒失敗的不少（不過是我認為的失敗，也許其他人反應不錯）<br><br>

                像是有人說為什麼茶是用「tsia̍h」的？不是應該用「lim」的嗎？但這種反思的笑話對台語使用者來說就很難抓到點，因為「tsia̍h」是食，在古代並沒有吃（古代的吃是口吃的意思），而食有點類似consume，泛指一切的攝食。所以這個笑話變成他的target是華語使用者，然後台語不能太好。<br><br>

                另外一個是，演員說用台語說話聽起來很gay，然後開始大玩諧音梗。我不確定是否成功，但有個fun fact是，台語常用字裡面發音是ké的指有「假」，所以大部分他舉的例子對我來說都諧不太起來。<br><br>

                最後提一個我覺得有中的，且間接跟語言有關，就是「語境」笑話。比如說用華語說「我們一定還能再見到的」聽起來就很感人，但用台語說「咱一定擱相tú ē 到」感覺就很煞氣。這個段子我就很喜歡。<br><br>

                整體來說我覺得演員還是受限於詞彙量的不足，使得表演的工具受到限制。台語跟其他中華圈的語言一樣，有音讀與訓讀之分，也就是文白異讀。像是日文的勝負可以讀成かちまけ也可以讀成しょうぶ。台語有很多詞可以用華語直接念沒有錯，但同時也有很多台語本身固有的講法，而大部分情況下，那些詞的表演力會大於文音，日本的笑話也是。除非就是像布袋戲般，用文音，但對仗、押韻……<br><br>

                整體而言我覺得是很棒的嘗試，這$200花得很開心，但這些問題我相信是之後如果要發展台語的stand-up勢必要考慮的問題。<br><br>
        </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
