<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>第74回NHK紅白歌合戦</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    
          

        <article>
            <h1>
                第74回NHK紅白歌合戦
            </h1>
            <p class="date">2024-01-01</p><br>
            <p>
                簡單看了一下日本網路上的評論，似乎有不少聲音不太喜歡紅白。不過很難透過這些說到底大部分的日本人是怎麼想的。<br><br>
                我說說我自己的看法。今年的紅白一如既往地，是NHK在實現一個公共媒體價值的過程。這是第74屆紅白歌合戰，對於日本而言，他們需要的是什麼？<br><br>
                在傑尼斯被全面封殺的時代，紅白即是一個舞臺告訴日本的各位，演藝還是有很多面向。一個不曾以面示人的歌手，在東本願寺的能舞臺唱《唱》。天童芳美在道頓堀發揚關西的驕傲。yoasobi與史上最豪華的伴舞團共唱アイドル。韓團（是很多日本人不解沒錯）、日本偶像團體、韓團中的日團、有韓味的日團、有日味的韓團一同探討族群文化的融合與碰撞。坂本冬美在唱《夜桜お七》時與JO1、BE: FIRST的表演、鄉裕美挑戰breaking等跨世代的合作。在讚頌抖音、動畫（有鬼滅、咒術、灌籃高手）等比較新一代的同時，也呼應了迪士尼這老牌動畫的先驅。更不望紀念電視放送70週年，所開創的一個新的世紀。然而與此同時，雖然用很怪的方式，也像大眾推展了NHK+，邁向NHK除了電視之外的下一個紀元。<br><br>
                儘管如此，NHK仍然將一些傳統延續下去。三山宏的劍玉（雖然今年失敗），石川小百合的津輕海峽冬景色以及最後大家共唱螢之光。<br><br>
                而身為公營煤體，也不忘關懷戰亂中的友邦烏克蘭。<br><br>
                總體而言我覺得紅白一直都辦得不錯，也期許NHK慢慢摸索出一條在21世紀的路，包含大河劇也是。<br><br>
                補充一點，紅白一方面能玩這麼多花樣是因為幾乎所有的參與者都會全程參與，這是我在臺灣比較少看到的部分。也因為歷年大合唱螢之光的傳統，NHK在整合各方表演者上滿有經驗的，我希望在這方面NHK可以繼續下去，然後各個世代間也不用一直強調自己不認識這些人。<br><br>
            </p>
        </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
