<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>聊聊所謂創作</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    
          

        <article>
            <h1>
                聊聊所謂創作
            </h1>
            <p class="date">2020-02-28</p><br>
            <p>
                相信許多人或多或少聽過羅蘭巴特（Roland Barthes）的「作者已死」。<br><br>
                我們先不談論羅蘭在說這句話時身為「作者」的「他」是否如實象徵性地「已死」，我想談的，是假定此一命題為真，那對於創作會有什麼影響。<br><br>
                由於筆者沒有太多「創作」的經驗，於是簡單地拿愛德歌曲當範例。我想，我應該是正心第一個在唱愛德的時候不「釋義」的團吧，雖然被評審團嗤之以鼻，但我當時的確是嚴格主張「作者已死」，也就是，我在臺上講這首曲子的「意義」是沒有任何意義的，還不如把時間留來做一個帥氣的片頭動畫，搭配正心優質的音響。<br><br>
                然而，再經過7個月後思考，「作者已死」其實有些衍生問題。<br><br>
                作者已死的原意是指說，當「文本」脫離「作者」後，文本不受作者干預，任何人都有解讀作品的權利，不必服從作者權威之下。在被擴大解讀後，衍生成作者不應該事後重新解讀作品，另一種說法叫「修改少作」，金庸就是個典型的例子。<br><br>
                那我們就可以想，所謂「文本脫離作者」，是指什麼時候？引進較現代的，當時羅蘭巴特沒有的觀念「著作權」，我們會說「著作完成時」即受著作權保障，那何謂著作完成？<br><br>
                我的愛德歌曲寫完了嗎？<br><br>
                舉個常見的例子，《How哥宇宙》一曲，何時完成？是陳孜昊寫完詞，鄧福如亂哼一通的瞬間？陳孜昊拍完片子的瞬間？在七月半的音樂會、大巨蛋現場發表？還是動畫MV發行之時？<br><br>
                你會發現，每一個版本都不一樣，每一個版本都不知道再經過多少人之手，那對於「作者已死」的認定又會更加困難。<br><br>
                假定作者已死為真，那，我們就不會做這麼多的映後座談、採訪等，產生一些「不必要」的解讀。<br><br>
                那假設作者在一文本中佔有一定的角色，那作者參與的程度有多少？所謂「創作」，所謂「原創」，又是什麼？<br><br>
                話說夏丏尊曾在其〈論情調〉一文中指出：「這因為我們所講的，都是希望它是從創作者的立場出發。其實，任何一件素材，一個故事，一個事件，一個人物，其中本來就有一種情調。但我們並不重視素材，比素材更重要而為我們所看重的，乃是作品的內容。內容與素材不同。素材是完全客觀的存在，而內容是素材之經過了作者的思想，情感，鎔鑄而成為作者生命中一部分的東西。等到素材變成了作品內容，它就已經和那與內容相應的形式分不開了。因為一旦醞釀成為內容的時候，它就已決定了表現的形式。所以我們說，那素材本身中雖也有一種自在的情調，但我們所要說的情調，都是那當尚未執筆之前即已存在於作者生命中的情調，那情調不但為那即將表現的內容所決定，也為作者的人格所決定。」<br><br>
                我之前的看法會是這樣：「素材→→（作者內在）→→作者內在的「一部分」。這句話沒什麼問題。然而「我們所要說的情調，是那當尚未執筆之前即存在於作者生命中的情調，那情調不但為那即將表現的內容所決定，也為作者的人格所決定。」「為」讀作二聲時，有「被」的意思。換句話說「已存在於執筆前」的情調是被「經過作者內在然後成為作者內在一部分之內容」所決定。明顯倒果為因。「為」讀作四聲時，有「替、給」的意思。換句話說，已存在於作者內在的情調決定了作者的人格?!」<br><br>
                而我的化學老師如是說：「他意思應是素材本身自有情調；內容本身的情調則是作者所賦予，而作者又因人格不一而賦予作品內容的情調不同。人格是內化的思想和人生觀，自有的情調是觀照萬物時內心相應而起的思想和情緒，兩者不同。像我是個做巧克力的師傅，我內心對什麼叫好的作品有所定見，巧克力素材在桌上自然有它的氣味（情調），我想將它作成什麼氣味（內容呈現的情調）是依我內心想法（作者的自身情調）而定，但不見得會成功啊~像酸鹼滴定的當量點是我們追求的，但只能選好一點的指示劑去趨近它啊。」<br><br>
                後來又經過一番討論，我的化學老師如此說：「巧克力師傅喜歡做帶有翅膀的小天使巧克力，他認為能展現光明向上的要點就是，翅膀要仰角45度，所以就他心中所想做了好幾個作品，但無奈有的在巧克力硬化前就受重力影響翅膀下垂，但即使下垂的翅膀依然是因巧克力師傅原來所盼望的樣子才有的結果。所以，『文末的「情調」指的是醞釀完巧克力後，使巧克力（內容）鎔鑄成作者心中一部分之後的「新的作者」的內在情調』嗎？我認為不是的，沒有甚麼作者新的情調這回事，作者情調是不變的，只是有時事與願違。『但作者倒數第二句我讀起來就像是「內容去決定作者情調」，可是這「內容」不是經過作者本身的思想、情調......而成的嗎？』我想這裡就是困擾你所在了，作者所說的「即將表現的內容」，是還放在心中那個翅膀仰角45度的模樣，不是已經既成事實的作品。應該這樣說：那心中的形象引發了作者情調。」<br><br>
                當時的我無法理解，現在我大概可以懂，所謂的「事與願違」。<br><br>
                由於當初只是因為不服畢業歌我居然一句詞都沒被採納，於是一時興起來寫愛德。在當時完全沒有製作樂曲概念的我，完全是憑空摸索。從寫和弦，寫詞，譜曲，改詞，改曲，改和弦，改曲，改詞，改……到後來，我逼不得已親自上臺彈吉他，由於我跟本不會彈吉他，我砍掉一堆變化音跟轉位。後來，我那個當時正在準備去美國比賽的partner，洗完澡後靈感一來，又塗塗改改，後來，其他團的人又給了許多意見，當時的高二音又因為看嘸根音又再一番塗改，後來在團練的時候，有位常在教會伴奏的教友看不慣那和弦進行，改成卡農。<br><br>
                「姐姐改完了你就不要再動囉！」「哇靠你是不是看著官大為在寫和弦？我看看……」<br><br>
                4/8我站在正心堂舞臺正中央，看著投影片上在作詞作曲伴奏釋義上都打著我的名字，可是，這首歌是我寫的嗎？<br><br>
                還好我不打算釋義。<br><br>
                但從此又可延伸出幾個討論點，其實也呼應前面的提問：作者參與了多少？<br><br>
                依據著作權法，「和弦進行」屬樂理之基本安排，不具有創作性，沒有著作權。雖然在我這個例子裡面，好像這和弦已經跟我（假設存在）的創作本意沒有太大關係，但和弦進行算不算是創作的一環？<br><br>
                我能理解假設和弦進行被著作權保護而不得「抄襲」，那會有許多流行音樂人要去喝西北風，相信大家也不希望我隨便在random.org隨便亂按所產生的和弦也被保護。然而，我們是不是快忘記創作和弦進行的樣子了？正如被他人所提醒的官大為看太多的問題，那，也讓我思考，陷在理論當中的創作，是否還謂之「創作」？<br><br>
                反正最後我撥得出來的和弦，都是好和弦。<br><br>
                再者，那假設沒有上面這些問題，我把理想中的曲子譜出來，沒有該死的羅蘭巴特，給我一隻麥克風要我釋義，我有沒有辦法？<br><br>
                釋義能夠做到多少？<br><br>
                在剖析藝術創作時，我們總希望把不必要的東西刪掉、拿掉、剪掉，搞到最後，一部電影的每個鏡頭，每個轉場，似乎到最後都可以解讀個所以然。那如果你問我，這個Bm9為什麼是9而不是降9，我怎麼知道？你問我為什麼我詞的這段，為什麼是「步出」而不是「踏出」或「邁出」，我怎麼知道？要是柯文哲在此，他就會說，若海森堡是對的，我這樣寫僅出於機率。<br><br>
                所以，到底什麼是創作？所謂文本的「作者」有什麼意義？而身為作者，作品到底跟我有什麼關係？<br><br>

                原文刊載於：<a href="https://www.instagram.com/p/B9GSZl1FkAN/?utm_source=ig_web_copy_link" target="_blank">上篇</a>
                <a href="https://www.instagram.com/p/B9ItbcalOPc/?utm_source=ig_web_copy_link" target="_blank">下篇</a>
            </p><br><br>
        </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
