<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>意譯</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            意譯
        </h1>
        <p class="date">2022-04-26</p><br>
        <p>
            意訳は、母語話者の意図するところや母語の聞き手の心に起きるはずのことを深く理解し、その機能をできるだけ忠実に再現しようとした翻訳と言える。<br><br>
            意訳は、外国映画の日本語字幕でよく使われている。これには字幕の文字数規制（セリフ1秒当たり、4文字までが適正と言われている）がある為、直訳では長くなり過ぎてしまうことが大きな原因であるが、映画のセリフは直訳では作者が意図している表現にならないことも多いからである。<br><br>
            なお、"意訳"が裏目となってしまう場合もある。例えば、ヨハン・ゼバスティアン・バッハの作品であるドイツ語原題の"Das Wohltemperierte Clavier"に対する和訳の「平均律クラヴィーア」は、「宜しく調律された（"Wohltemperierte"）」に対して、習慣化された訳（これを「意訳」と呼んでよいのかどうかについては様々な見解があるが）「平均律」という訳が採用されている。しかし近年の研究では「平均律」を意図しているわけではないという説が有力である。また英語の"compatible"は、文脈によっては「互換しても宜しく動作する」という意図で使われ、「互換性」と意訳されることが多いが、直訳調の「（二つのものが）宜しく共存する、また、そのように配慮がされている」がまんざら悪くない訳だという場合があるわけである。<br><br>
            總之就是，意譯在日本電影是很常見的現象，因為語言結構上的關係。現在關於《媽的多重宇宙》的字幕批評，主要可以分兩派：一派是翻的好不好，另一派是意譯vs直譯。<br><br>
            有些人採的比較硬，認為應該直譯不應該意譯。因為中文的特性，使得字幕翻譯的直譯變得可行。然而，完全直譯真的是個好選項嗎？我不太清楚那些人有沒有看過魯迅的「硬譯」文，他們應該看過之後再好好想想直譯是不是一個好選項。<br><br>
            我覺得比較好的問題應該是意譯適不適切這部分。好的翻譯應該是讓人能順利了解電影內容，不被語言所隔閡。然而，到底什麼是語言的障礙，什麼是文化的障礙？把《六人行》直譯過來，我們跟過了語言的障礙，但是沒跨過文化的障礙，那這樣算不算是好的翻譯？<br><br>
            《媽的多重宇宙》比較大的問題（先說，配合時下用語做翻譯是很常見的），在於他的某些用語太特定，不是每個人都可以get到他的點。有人說如果我們還要想譯文在說什麼，表示他不是一個好翻譯；然而，如果原文本身就不太好懂呢？（這齣是要動腦的片子）那我們到底要把責任歸咎在劇本，還是在譯者，還是在自己呢？<br><br>
            一樣那個原則，如果譯者有把劇本想傳達的意思傳達給多數預期大眾（因為可能多數大眾剛好比較無知，所以加個「預期」二字），那問題就出觀眾身上；如果譯者沒有做到，那問題則在譯者身上。<br><br>
            裡面有用到「咒術迴戰」等特定族群才懂的元素，可能就不太適切，雖然對get到的人來說，可能會更加分。一把雙面刃啦。<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
