<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>交通解嚴遊行</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            交通解嚴遊行
        </h1>
        <p class="date">2022-07-09</p><br>
        <p>
            簡單整理一下今天的交通解嚴遊行的訴求：<br><br>
        </p>
        <ol>
            <li>省道（蘇花、南迴）開放機車行駛</li>
            <li>廢除禁行機車、兩段式左轉，大型重機上國道（其實國外50就可以了）</li>
            <li>廢除區間測速</li>
            <li>開放人民參與道安會</li>
            <li>道路工程改善。</li>
        </ol><br>
        <p>    
            其實機車路權（正確來說是交通平權，因為更重要的是行人路權）議題還有另外一個層次，也就是「階級問題」。<br><br>
            我之前說過有車有房的觀念會危害都市計畫，但純論交通層面，為什麼臺灣人會想要有汽車，因為臺灣在大公路主義之下太適合開車了。而所謂的階級問題，就是只有機車的族群與有汽車的族群形成兩種不同的階級。<br><br>
            看到這邊一定會有人說，嘿，又在搞汽機車族的分化了。但你想一想，臺灣大部分的人應該都是騎過機車也開過車的，所以理當沒有二輪、四輪的問題，若有，那也是自己搞出來的。許多以前騎車，現在開車的人之所以換個工具換個腦袋，某種程度上也是被階級意識所綁架。若大家去除內在這種歧視機車的想法(包含自我歧視)，就不會有分化問題。<br><br>
            不然怎麼想都很弔詭，臺灣機車數量有14,311,888量（111年5月），既然臺灣是以機車為主的國家，那政府有理由設計出機車也能安心行駛的道路。<br><br>
            再者，也是很多人不曾想過，改善機車的道路安全，同時也能讓汽車開得更順。因為這牽涉到整體道路規劃。簡單列幾點給大家：<br><br>
        </p>
        <ol>
            <li>車道寬度縮小。當車道寬度縮小，自然就不會開太快，讓事故發生率降低。車道寬度縮小的同時，道路可以有空間做其他規劃。</li><br>
            <li>將第一點省下來的空間做人行道。人本交通的第一點其實是要設人行道，保障行人路權，同時，也能讓停車問題減少。有了人行道，就不會有「車停在我家大門口」的問題，也能讓停車格得以設置，解決違停問題。</li><br>
            <li>路口要做左轉偏移。與其禁止用路人左轉，不如作左轉道偏移，而且要對好，讓直行車輛得以對準另一頭的車道。理想的直行車行進方向是直線，不是到路口還要右偏再偏回來。這麼做的同時，駕駛也不用道路口玩大樂透般，注意自己到底在左轉車道還是直行車道。</li><br>
            <li>既然討論到路中央了，禁行機車要塗銷，廢除兩段式左轉。大家覺得汽機車混流很可怕，其實不會。當兩車行駛速度相當時，你們要怎麼相撞？那說到這個，就得把機車限速50拿掉，不要騙了，125怎麼可能跟不上車流？</li><br>
            <li>到路中央，就必須提到分隔島。不要在路口分隔島種數，會影響視線，也不要種那種會掉葉子、果實的，會影響路況。</li><br>
            <li>行人穿越道要畫，遇到大馬路也是。天橋、地下道並不是保護行人，而是歧視行人。你會讓行動不便者沒有辦法使用天橋及地下道。你或許會說，可是車來車往很危險。其實並不會，因為所有車都會禮讓行人，如果不會，單純只是臺灣人民素質不夠。</li><br>
            <li>區間測速只會讓駕駛人注意車速。當一個道路設計要讓駕駛人注意車速時，就表示道路設計有問題，因為駕駛人要看的不是儀表板，而是路況。</li><br>
            <li>並不是所有路口插一個紅綠燈就可以解決事情，這是非常不負責任的。廣設紅綠燈會導致塞車，通勤的時間不應該浪費在等紅綠燈。這點比較難，連美國都做不太到，可以參考歐洲的狀況。</li><br>
        </ol><br>
        <p>
            不知道大家有沒有發現，上述講的道路設計不是只有機車，而是淙合了汽機車及行人（理想上應該還有腳踏車）。所謂的3E是教育、工程、執法。在進行執法前，有關單位應該要進行充足的教育以及良好的道路設計。<br><br>
            在跟家中長輩談及交通問題，仍會聽到他們說起「兩段式左轉降低事故發生率」、「125上國道很危險」諸如此類沒有科學根據的言論。不怪他們，因為人類一生經驗有限，我們需要的是透過充足的資料進行科學的分析，這樣得到的答案才是合理的。而正如他們提及的，「臺灣人歹教」，除了那些路怒症時常發作然後去逼車的弱智之外，還有大部分如他們一般的守法好公民。正因為他們守法，才會聽信政府那些沒有根據的胡說八到。這樣臺灣人難教嗎？似乎不一定。臺灣還是有很多守法好公民，如果政府能好好制定適當的交通政策，一定能讓臺灣的交通環境更好。<br><br>
            國民黨有葉毓蘭、李明賢，時代力量有邱顯智，民進黨我原本想講黃郁芬不過他現在好像不在了，民眾黨雖然沒有民代特別注意這個，但他們的黨媒有邀請過火花羅上節目，應該會注重交通議題。<br><br>
            換言之，交通問題是跨黨派的共識，各黨團都有人想正視臺灣的交通議題，只要執政單位願意改善，是可以做到的。至於院總第756 號委員提案第24811號的那19位委員，就…嗯。<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
