<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>清大宿舍前的交通</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            清大宿舍前的交通
        </h1>
        <p class="date">2012-10-16</p><br>
        <style>
            .image-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .image-container img {
                max-width: 45%; /* 设置图片的最大宽度 */
                height: auto; /* 保持图片的纵横比 */
                margin: 0 10px;
            }
        </style>
        <p>
            以前來往清大的時候都一直有個疑問，宿舍區是行人最多的地方，為什麼在車子這麼多的地方會沒有人行道？<br><br>
            昨天才知道，原來這裡是行人徒步區（只是鋪著柏油路），禁止公務車以外的汽車進入。關於這部分我已經提報給清華大學學生會要求他們處理，接下來就等待回覆。<br><br>
            不過公平起見，還是為汽車講一下話，因為某種程度上清大的標線標語很有問題（就不講其他問題了，反正「打造未來的清華」連陽交都沒有了何況「交通」）。<br><br>
            進入大學校區車速要放慢，這是基本常識，雖然我不否認中華民國文盲不少，台大尤其嚴重，但我們先假定這是常識。<br><br>
            但，宿舍區禁行汽車這件事不算是常識，誤闖是很有可能發生的，需給予容錯空間。<br><br>
            我們先假設進入清華大學的中華民國國民都是有識字水準的好公民，且具有中華民國監理所所發行之汽車駕駛執照好了。在清華大學，他在宿舍區看到禁行汽車的牌子，他很守法，他沒有要進去，那他會怎麼樣？<br><br>
            他會出不來。<br><br>
            你沒有給他一個容錯的迴轉空間，你覺得他要怎麼出來？<br><br>
        </p>
            <figure class="image-container">
                <img src="../../figures/2022-10-16-1.jpg">
                <img src="../../figures/2022-10-16-2.jpg">
            </figure><br>
        <p>
            中華民國在設計交通標誌的時候時常有個問題，會在「事發地點」設置標語。我們先不論到底看不看得到，因為很多標語會插在樹叢裡面，重點是人需要反應時間。你要給人反應時間，就必須把主管機關要告知駕駛人的注意事項，寫在事發處的前面，使駕駛人有反應時間。<br><br>
            當然，依中華民國國民的素質，有一定的困難性，我是比較希望像歐洲一樣你在宿舍區直接用紅磚道或其他地面上足以表示出這個地方的規矩不一樣。<br><br>
            除了新竹市政府，還有太平老街的店家之外，應該都會注意到路面不一樣代表著路線上的變化之類的吧？<br><br>
            再不行就擋起來，MD 。<br><br>
            順帶一提，宿舍區的險降坡路段，自行車必須用牽行的方式通過並禮讓行人，依照這個邏輯，汽車要下來用推的嗎？到底在寫什麼==<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
