<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>海闊天空的背後</title>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<script src="../../javascript/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../../figures/colored_logo_1.png" alt="My Logo" class="logo">
        </a>
        <div class="menu-icon" onclick="toggleNavbar()">☰</div>
        <nav id="navbar">
            <div class="nav-item"><a href="../about/about.html">關於</a></div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">書齋</a>
              <div class="dropdown-content">
                <a href="../../study/books/books.html">紙本書籍</a>
                <a href="../../study/films/films.html">影像動畫</a>
                <a href="../../study/lang/lang.html">語言學習</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="javascript:void(0)">日常</a>
              <div class="dropdown-content">
                <a href="../../school_life/high/high.html">中學</a>
                <a href="../../school_life/uni/uni.html">大學</a>
              </div>
            </div>
            <div class="nav-item"><a href="../../views/views.html">觀點</a></div>
            <div class="search-container">
                <input type="text" id="search-bar" class="search-bar" placeholder="搜尋…" />
                <img src="../../figures/search.png" id="search-icon" class="search-icon" onclick="toggleSearch()" />
                <img src="../../figures/cancel.png" id="close-icon" class="close-icon hidden" onclick="toggleSearch()" />
            </div>
          </nav>
    </header>

    <article>
        <h1>
            海闊天空的背後
        </h1>
        <p class="date">2018-06-10</p><br>
        <p>
            近日讀到天下雜誌一則關於教育的專題，內容是第一批教改學生的成長歷程。不知不覺間，教改也推動二十幾年，到底改變了什麼？又改到哪裡去？<br><br>
            古代在庠、序中的貴族教育以六藝為重心，希望培育出文武全才以經世濟民。到了唐宋年間，科舉造成了教育普及化，普遍知識水平提高，百業興盛，但多數書院漸漸以科舉考試範圍為主要講學內容，這或許是「應試教育」的濫觴。到了明清時代，「萬般皆下品，唯有讀書高」的觀念早已根深蒂固，書院多僅教授應考必備的四書五經、八股文寫作技巧。也因科舉的重要性，書院老師的地位崇高，神聖不可侵犯，書讀不好的就要面對許多不人道的體罰，或許這可以解釋為什麼「教」的右邊是一個人的右手拿著一條形似教鞭的東西吧，此時的教育，完全是為考試而教育，而不是為培育社會人才而教育。<br><br>
            儘管科舉已於清光緒三十一年廢除，九年國民義務教育亦已實施近五十年，臺灣教育現況似仍停留在「應試教育」而非「素質教育」。戰後的臺灣需要重建及經濟發展，政府想以最短的時間追上工業革命後高效率的西方國家，當時的教育，就是要用最短的時間，灌輸最大量的知識，如同工廠中大量製造品質一致的產品。而測驗知識灌輸成果最簡單的方法，就是出考卷給學生，看看他有沒有能力將「標準答案」填入答案卷中。學生不一定要了解自己在學什麼，他只需要將「標準答案」填入就可拿到分數。只要你在升學考試中從幾個選項中選出較多的「標準答案」，就有較高的機會能升學，進而搏取較高的社會地位。<br><br>
            但是，在四一○教改大遊行後，廣設大學，加上少子化的衝擊，幾乎可謂「只要有心，人人都可以上大學」。既然提升社會地位的功能不再，臺灣教育還剩下什麼？<br><br>
            我曾在班級社團與同學討論過何謂上課的目的，很驚訝地發現留言的人不多，大部分的學生對於探討教育的意義著實沒有太大的興趣，有點「為來學校而來學校、為考試而考試」的感覺。又因為不知到上學的目的，上課撐不到十分鐘便分心，只好晚上、假日去補習班聽課、寫考卷，造成睡眠不足，影響白天上課效率。老師發現知識傳輸效果不佳，課上不完，只好請學生第八節、星期六留下來上輔導課，進而壓縮學生理解、消化上課內容的時間。在社會價值觀的影響、家長與老師間的壓力下，學生們就變成一張張被工廠大量製造的記憶卡，一張沒有中央處理器的記憶卡，只會輸入資料，不會分析、統整資料，使之變成可用的資訊。這種教育方式在電腦被發明前或許可行，甚至在威權時代，在這種教育體制出來的「資優生」能被稱為「人材」。但在第三次工業革命之後，電腦普及化與網際網路發達的今天，這種方式還可行嗎？<br><br>
            話說有次歷史段考的非選擇題，要我們寫出古希臘詩人荷馬的兩部史詩，答案分別為伊里亞德及奧德賽，我當時寫成了「奧塞德」，因此失掉一分。那時我個人是沒有太大的感覺，只是想想，我臨時忘記它是奧德賽還是奧塞德似乎不太重要，因為我們可以立刻用搜尋引擎在轉瞬間得出我們所要的答案。或許因此，學生們在對於背誦的東西學習意願才會如此薄弱。如果我可以在彈指間查到一個專有名詞，我何必花時間為了考試去背誦它？<br><br>
            「臺灣吧」的謝政豪曾說過：「給孩子魚竿，不如讓他覺得魚很好吃。」在學齡前的兒童總是對所有事物感到好奇，但在經過應試教育的摧殘後，學生變得不會發問，對課堂中的內容毫無興趣。那如果在課堂前，我們激發起學生的興趣，讓他覺得這門課程很有趣，他就會有較強的動機在課後去探求知識，甚至去挖掘老師上課沒有講的內容。而這個過程帶給學生的成就感，是遠遠大於在考試中填入標準答案所得到之成就感的。<br><br>
            在自發性探求知識的過程中，因為不斷地有新知刺激學生，能夠使之思考，使其思辨能力增強。而老師也應多給予學生表達、發問及討論的機會，訓練其口語表達能力，讓學生能把其所思所學做分享。這其實也是一種知識的交流與傳播，也可以拉近學生與老師間的關係。當師生關係不再是絕對的上對下的時候，學生對求知也比較不會反感，更容易達到教育的目的。<br><br>
            當學生能夠自主性的去求知，且能適當地分析、思考資料的準確性，從中汲取適當的資訊，並能用自己的話切意地表達出來時，應試教育已經沒有辦法滿足他了。法國高中會考的第一堂，是連續四小時的哲學考試，題目很簡單，只有短短三題，且只要選一題作答。但要回答得好並不容易，需要嚴謹的思辯、縝密的邏輯，所以才需要在早上學生精神最好的時候考試，且一次考四小時。當我們現在還在為要猜ABCD哪一個選項困擾時，法國已在兩百多年前就有這種申論考題了。目前國中教育會考雖僅有兩題非選擇題，但這是一個好的開始。祈望有天所有科目都能朝申論題及非以成積量化的方向邁進。<br><br>
            目前臺灣國中的主要考試科目有五科：國文、英語、數學、自然、及社會。自然及社會兩科又可再細分，這些統稱為「學科」。一般國中會「特別強調」這些科目，尤其是國、英、數，老師也都希望你念書以學科為重。歐美的素質教育則不侷限於這幾個科目，反而他們更重視音樂、體育、美術等科目。其實不管是孔子的六藝還是蘇格拉底提出的理想國都是以音樂、體育為重。這在臺灣現階段跟本不可能，因為這些不是容易被量化的考試科目。<br><br>
            臺灣一直以來都不太尊重學科以外的「藝能科」除了因為不是考試科目外，或許是受限於經費吧，但如果這些科目社會願意尊重，那將會成為學生一個很好發揮的空間，而且對未來國家的生活水平提升有一定影響。這幾個科目在授課上，是偏向以學生為中心的。其實，學科要以學生為中心授課當然沒有問題，很多老師在做「翻轉教育」就做得很好。雖然接受翻轉教育的學生會比較融入這門課，但論考試成績，無疑會輸給接受填鴨教育的學生一大截，部分家長較不能接受，那就是時候該調整教育制度的方向了。<br><br>
            每個學生都是獨一無二的藝術品，而臺灣有很長一段時間都把學生當作一件件複製品。臺灣不缺人才，但如何在臺灣國內培養更具競爭力的人才，是未來大家要努力的方向。而教育改革最重要的，就是要讓大家勇敢脫離填鴨的窠臼，提升國民的基本素養。<br><br>
        </p><br><br>
    </article>

        
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100012598034817" target="_blank"><img src="../../figures/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/chunwei.chang2/" target="_blank"><img src="../../figures/instagram.png" alt="Instagram"></a>            
            <a href="https://twitter.com/WadeOwenWatts17" target="_blank"><img src="../../figures/X.png" alt="X"></a> 
            <a href="https://www.youtube.com/channel/UCyPuB8qI1BUJWUGxG1e8a9A" target="_blank"><img src="../../figures/youtube.png" alt="YouTube"></a>
            <a href="https://github.com/WadeOWatts" target="_blank"><img src="../../figures/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2024 Chang, Chun-Wei. All rights reserved.</p>
        <ul>
            <li><a href="../../../privacy-policy">Privacy Policy</a></li>
            <li><a href="../../../../terms-of-service">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
